{% extends 'common/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="credentials-form">
        <h2>Register</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                <div class="error">{{ form.username.errors }}</div>
            </div>

            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
                <div class="error">{{ form.email.errors }}</div>
            </div>

            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                <div class="error">{{ form.password1.errors }}</div>
            </div>

            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                <div class="error">{{ form.password2.errors }}</div>
            </div>


            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}
