{% extends 'common/base.html' %}

{% block title %}Welcome to FitTrack{% endblock %}

{% block content %}
    <div class="home-container">
        <h1 class="home-title">Welcome to FitTrack</h1>
        <p class="home-subtitle">Your all-in-one fitness tracker: workouts, BMI, goals, and more!</p>

        <div class="features">

            {% if user.is_authenticated %}
                <a class="clickable-feature" href="{% url 'add_workout' %}">
            {% else %}
                <a class="clickable-feature" href="{% url 'login' %}?next={% url 'add_workout' %}">
            {% endif %}
            <div class="feature-box">
                <h3><i class="fa-solid fa-person-running"></i> Workouts</h3>
                <p>Track exercise duration and calories burned easily.</p>
            </div>
                </a>

            <a class="clickable-feature" href="{% url 'bmi' %}">
                <div class="feature-box">
                    <h3><i class="fa-solid fa-calculator"></i> BMI Calculator</h3>
                    <p>Calculate BMI based on your profile instantly.</p>
                </div>
            </a>

            <a class="clickable-feature" href="{% url 'post-list' %}">
                <div class="feature-box">
                    <h3><i class="fa-solid fa-comment"></i> Posts</h3>
                    <p>Share your experience.</p>
                </div>
            </a>

            <a class="clickable-feature" href="{% url 'calories' %}">
                <div class="feature-box">
                    <h3><i class="fa-solid fa-scale-balanced"></i> Calories</h3>
                    <p>Calculate your calories BMR(Base Metabolic Rate) and more...</p>
                </div>
            </a>
        </div>
        {% if not user.is_authenticated %}
            <div class="home-buttons">
                <a href="{% url 'register' %}" class="btn">Get Started</a>
                <a href="{% url 'login' %}" class="btn">Login</a>
            </div>
        {% endif %}
    </div>

{% endblock %}
