{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitness Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head>
<body>


<nav>
    <div class="left-nav-group">
        <a href="{% url 'home' %}">
            <i class="fa-solid fa-dumbbell"></i> Fit Track
        </a>
    </div>


    <div class="right-nav-group">
        {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}</span>
            <div class="dropdown">
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="{% url 'profile-info' %}">My Profile</a>
                    <a href="{% url 'body-metrics' %}">Body Metrics</a>
                    <a href="{% url 'add_workout' %}">Workouts</a>
                    <a href="{% url 'post-list' %}">Posts</a>
                    <a href="{% url 'calories' %}">Calories</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <a class="bmi-link" href="{% url 'bmi' %}">BMI</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

</nav>


<div class="main-container">
    {% block content %}
    {% endblock %}

</div>

</body>
</html>
