{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="credentials-form">
        <h2>Login</h2>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <p>Don't have an account? <a class="reg-link" href="{% url 'register' %}">Click here to create one.</a></p>

        </form>
    </div>
{% endblock %}
