{% extends 'common/base.html' %}

{% load static %}

{% block content %}
    <div class="profile-info">
        <h1>Profile Information</h1>

        <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
        <p><strong>Weight:</strong> {{ user_profile.weight_kg }} kg</p>
        <p><strong>Height:</strong> {{ user_profile.height_cm }} cm</p>
        <p><strong>Goal:</strong> {{ user_profile.get_goal_display }}</p>
        <p><strong>Target Weight:</strong> {{ user_profile.target_weight_kg }} kg</p>

        {% if user_profile.profile_image %}
            <p><strong>Profile Image:</strong><br>
                <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" width="200">
            </p>
        {% endif %}

        <hr>
        <p><strong>Your Body Mass Index (BMI) is: </strong>{{ bmi }}</p>
        <table class="bmi-table">
            <thead>
            <tr>
                <th>BMI Category</th>
                <th>BMI Range</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Underweight</td>
                <td>Below 18.5</td>
            </tr>
            <tr>
                <td>Healthy</td>
                <td>18.5 – 24.9</td>
            </tr>
            <tr>
                <td>Overweight</td>
                <td>25.0 – 29.9</td>
            </tr>
            <tr>
                <td>Obesity</td>
                <td>30.0 or above</td>
            </tr>
            </tbody>
        </table>
        <a class="update-profile" href="{% url 'profile-edit' %}"> Update Profile</a>
    </div>
{% endblock %}